.main-container {
  width: 700px;
  margin-left: 20%;
}
.container {
  border: 15px solid black;
  padding: 50px;
  margin-top: 200px;
  height: 250px;
  background-color: aqua;
}
.drop {
  margin-left: 40%;
}
#head {
  margin-left: 30%;
}
#dropdown-basic {
  width: 200px;
  text-align: center;
  font-size: 20px;
  background-color: black;
}
#dropdown-basic:hover {
  background-color: rgb(102, 94, 94);
}
#b {
  width: 200px;
}
#b:hover {
  background-color: aquamarine;
}
